
extends layout.jade

block content

  body.m-0.p-3
    .container.my-4.mx-auto
        .col-6.mx-auto
          a(href="https://www.accorderie.fr/coeurdesbauges/", target="_blank", rel="noopener noreferrer") 
            img(src="/images/logo.png" alt="logo de l'accorderie").img-fluid

    .container.bg-light.rounded-3.border-top.p-4
      .col-12.my-4
        .fw-bold.text-center.mb-5.display-6 Nouveau chèque temps
        
        ul.errors.mb-5
          if errors
              each error, i in errors
                  li.alert.alert-danger #{error.msg}

        if locals.error
          .alert.alert-danger(role="alert") #{error}

      form(name="create_time" method="post", action="").row.g-5
        
        .col-md-6.col-sm-12
          label(for="service-beneficiary-email") Bénéficiaire du service:
          div.input-group.required
            span.input-group-text#service-beneficiary-email Nom
            input(
              type="text", 
              name="service_beneficiary_name", 
              placeholder="Pierre dupont", 
              aria-label="beneficiary_name", 
              aria-describedby="service-beneficiary-name",
              value="#{response.service_beneficiary_name}"
              required
            ).form-control

        .col-md-6.col-sm-12
          label(for="service-beneficiary-email")
          div.input-group.required
            span.input-group-text#service-beneficiary-email @
            input(
              type="text", 
              name="service_beneficiary_email", 
              placeholder="bénéficiaire@email.com", 
              aria-label="Username", 
              aria-describedby="service-beneficiary-email",
              value="#{response.service_beneficiary_email}"
              required
            ).form-control
        
        .col-md-6.col-sm-12
          label(for="service-provider-name") Service rendu par:
          div.input-group.required
            span.input-group-text#service-provider-name Nom
            input(
              type="text", 
              name="service_provider_name", 
              placeholder="Jacques durand", 
              aria-label="provider name", 
              aria-describedby="service-provider-name",
              value="#{response.service_provider_name}"
              required
            ).form-control

        .col-md-6.col-sm-12
          label(for="service-provider-email")
          div.input-group.required
            span.input-group-text#service-provider-email @
            input(
              type="text", 
              name="service_provider_email", 
              placeholder="accordeur@email.com", 
              aria-label="Username", 
              aria-describedby="service-provider-email",
              value="#{response.service_provider_email}"
              required
            ).form-control
      
        
        .col-md-12
          label(for="service-description") Description du service
          .input-group.required
            textarea(
              name="service_description", 
              placeholder="Écrivez une ligne ou deux pour retrouver plus tard de quoi il s'agissait.", 
              aria-label="service-description", 
              aria-describedby="service-description",
              required
            ).form-control
              |#{response.service_description}
      

        .col-md-4.col-sm-12
          label(for="service-duration") Payez contre ce chèque ( en durée )
          .input-group.required
            select(
              id="hours",
              name="hours",
              aria-label="service-duration-hours",
              value="#{response.hours}"
            ).form-control
              each val in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
                option(selected=response.hours==val value="#{val}") #{val}

            span.input-group-text heures
            select(
              name="minutes",
              aria-label="service-duration-minutes",
              value="#{response.minutes}"
              required
            ).form-control
              each val in [00,15,30,45]
                option(selected=response.minutes==val value="#{val}") #{val}
            span.input-group-text minutes
      
        .col-md-4.col-sm-12
          label(for="select-category") Catégorie de service
          .input-group
            select(
              id="service_category",
              name="category",
              aria-label="select-category",
              onchange="showSubCategories(this)"
            ).form-control
              each category in categories
                option(selected=response.category==category.category categoryId="#{category.id}" value="#{category.title}") #{category.title}

        .col-md-4.col-sm-12
          label(for="select-sub-category") Sous-catégorie
          .input-group
            select(
              id="select-sub-category",
              name="sub_category",
              aria-label="sub-category"
            ).form-control
              each sub_category in subCategories
                option(selected=response.category==sub_category value="#{sub_category.title}" category_id="#{sub_category.category_id}") #{sub_category.title}

        .col-12
          .d-grid.gap-2.col-6.mx-auto
            button(type="submit").btn.btn-primary Envoyer

              
    .container.text-center.my-5
      iframe(
        max-width="560",
        max-height="315",
        src="https://www.youtube.com/embed/p5XLgtJ7ri4",
        title="YouTube video player",
        frameborder="0",
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
        allowfullscreen
      )
    .pt-3.xt-4.text-muted.text-center.small
      p:  a(href="https://www.accorderie.fr/mentions-legales/" ,target="_blank") L'accorderie Mentions légales
            span &copy; l’accorderie |
            a(href="https://www.accorderie.fr/coeurdesbauges/contact/" ,target="_blank") Contact
  
  script.

    function showSubCategories(value){
      const categoryId = value.selectedOptions[0].attributes.categoryid.value;

      const options = document.querySelector('#select-sub-category');
      var selected = null;

      for(let i=0; i<options.childNodes.length; i++){
    
        options.childNodes[i].hidden = true;

        const selectedCatgoryId = options.childNodes[i].attributes.category_id.nodeValue;

        if(selectedCatgoryId == categoryId){
          options.childNodes[i].hidden = false;

          if( selected == null ){
            options.childNodes[i].selected = true;
            selected = true;
          }
        }
      }
    }