extends layout.jade

block content

  body.m-0.p-3
    header.py-2
      .h1.text-center Registration list
      .text-center.my-4
        button.btn.btn-primary(onclick="downloadCsv( #{data} )") Téléchager
    
    .row.row-cols-1.row-cols-md-3.g-4
      each record, i in records
        .col
          .card.h-100.bg-light
            .card-header
              .small.float-end Le #{record.date}
              .h5.bold # #{record.id}
              
            .card-body
              if(record.ref)
                .small ref: #{record.ref}
              
              .p De : 
                span.bold #{record.provider}
              .p A : 
                span.bold #{record.beneficiary}
              .p Durée : 
                span.bold #{record.hours}:#{record.minutes}
                hr
              .p description : 
              .card.p-2.my-3
                .p #{record.description}

            .card-footer.text-muted
              .small user ip: #{record.user_ip}
              hr
              .small user agent: #{record.user_agent}
