extends layout.jade

block content

  body.m-0.p-3
    header.py-2
      .h1.text-center Registration list
      .text-center.my-4
        a(href="/list-accorderie-records-list-for-admins/download-csv/").btn.btn-primary Téléchager
    
    if records.length == 0
      h2.text-center Il n'y a pas encore d'enregistrements
    .row.row-cols-1.row-cols-md-3.g-4
      each record, i in records
        .col
          .card.h-100.bg-light
            .card-header
              .float-end Le #{record.date}
              .h5.bold # #{record.id}             
            
            .card-body
              .float-end
                form(method="POST", action='/list-accorderie-records-list-for-admins/delete/' + record.id)
                  div.form-group
                    input.form-control(type='hidden',name='_method', value="PUT")                                   
                    input#recordID.form-control(type='hidden',name='recordID', required='true', value=record.id )                 
                    button(type="submit", value="DELETE", aria-label="Close", onclick="return confirm('Cette suppression est définitive. Êtes-vous certain de vouloir poursuivre ?')").btn-close 
              
              if(record.ref)
                .small ref: #{record.ref}
              
              .p De : 
                span.bold #{record.provider}
              .p A : 
                span.bold #{record.beneficiary}
              .p Durée : 
                span.bold #{record.hours}:#{record.minutes}
                hr
              .p description : 
              .card.p-2.my-3
                .p #{record.description}

            .card-footer.text-muted
              .small user ip: #{record.user_ip}
              hr
              .small user agent: #{record.user_agent}
